<ActionBar title="Descubra-se" icon="" class="">
    <NavigationButton (tap)="navegarPara(eRotasNavegacao.HOME)" text="Go back" android.systemIcon="ic_menu_back" />
    <ActionItem
      ios.systemIcon="16" ios.position="right"
      text="mais opcoes" android.position="popup">
    </ActionItem>
  </ActionBar>

  <FlexboxLayout
    flexDirection="column"
    justifyContent="space-between"
    backgroundColor="#3c495e"
  >

    <StackLayout>
      <ng-container >
        <Label class="h2 text-center" color="#FFF" text="Passado"></Label>
        <Label class="h2 text-center" color="#FFF" text="Presente"></Label>
        <Label class="h2 text-center" color="#FFF" text="Futuro"></Label>
      </ng-container>
    </StackLayout>


    <FlexboxLayout
      height="50"
      flexDirection="row"
      justifyContent="center"
      backgroundColor="#43B3F4">
      <Button text="Home" padding="12" margin="0" android.systemIcon="ic_menu_back"></Button>
      <!-- <Button text="Home" padding="12" margin="0" android.systemIcon="ic_menu_back"></Button>
      <Button text="Home" padding="12" margin="0" android.systemIcon="ic_menu_back"></Button> -->
    </FlexboxLayout>
  </FlexboxLayout>

