<FlexboxLayout
    flexDirection="column"
    justifyContent="space-between"
    backgroundColor="#3c495e"
  >

    <StackLayout>
      <ng-container >
        <Label class="h2 text-center" color="#FFF" text="Carta 1 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 2 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 3 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 4 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 5 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 6 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 7 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 8 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 9 "></Label>
        <Label class="h2 text-center" color="#FFF" text="Carta 10 "></Label>
      </ng-container>
    </StackLayout>
  </FlexboxLayout>

