  <FlexboxLayout
    flexDirection="column"
    justifyContent="space-between"
  >
    <StackLayout>
      <ng-container *ngIf="cardSelected">
        <Label class="h1 text-center" color="#FFF" text="Sua carta do dia é"></Label>
        <Label class="h2 text-center" color="#FFF" [text]="cardSelected.arcanoMaior"></Label>
        <Label class="text-center" color="#FFF" marginTop="16" fontWeight="bold" text="Pontos positivos"></Label>
        <Label class="text-center" color="#FFF" [text]="cardSelected.positivo"></Label>
        <Label class="text-center" color="#FFF" marginTop="16" fontWeight="bold" text="Pontos negativos"></Label>
        <Label class="text-center" color="#FFF" [text]="cardSelected.negativo"></Label>
      </ng-container>
    </StackLayout>
  </FlexboxLayout>

