@import '../../_assets/variaveis.scss';

.des-menu-footer{
    background-color: $color-1;
    padding: 60px 0;
    &__icone{
        color: $color-2;
        font-size: 25px;
        text-align: center;
    }
}