@import '../../_assets/variaveis.scss';

.des-header-app{
    background-color: $principal;
    color: $branco;
    padding: 30px 30px 80px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;

    &__header{
        &__nome-app{
            font-size: 25px;
            color: $secundario;
        }
        &__cadastro{
            color: $secundario;
            padding-bottom: 40px;
        }
        &__menu{
            font-size: 25px;
            color: $secundario;
        }
    }
}