$color-1: #3B1340;
$color-2: #D9851E;
$color-3: #BF5B04;

$branco: #D9D1D0;
$preto: #403732;


/* Color Theme Swatches in Hex */
/* .Decoração-Pode-de-Vidro-Roxo-Dourado-1-hex { color: #9B8ABF; }
.Decoração-Pode-de-Vidro-Roxo-Dourado-2-hex { color: #C0B4D9; }
.Decoração-Pode-de-Vidro-Roxo-Dourado-3-hex { color: #655BA6; }
.Decoração-Pode-de-Vidro-Roxo-Dourado-4-hex { color: #A68B03; }
.Decoração-Pode-de-Vidro-Roxo-Dourado-5-hex { color: #BF9F63; } */

/* Color Theme Swatches in Hex */
// /* .Mulher-Afro-Cabelo-ruivo-roxo-de-costas-com-vestido-amarelo-1-hex { color: #3B1340; }
// .Mulher-Afro-Cabelo-ruivo-roxo-de-costas-com-vestido-amarelo-2-hex { color: #D9851E; }
// .Mulher-Afro-Cabelo-ruivo-roxo-de-costas-com-vestido-amarelo-3-hex { color: #BF5B04; }
// .Mulher-Afro-Cabelo-ruivo-roxo-de-costas-com-vestido-amarelo-4-hex { color: #733F34; }
// .Mulher-Afro-Cabelo-ruivo-roxo-de-costas-com-vestido-amarelo-5-hex { color: #D9D1D0; } */

