@import '../_assets/variaveis.scss';

.des-menu-completo{
    &__linha{
        &__texto{
            color: $preto;
            font-size: 18px;
        }
        &__icone{
            color: $color-1;
            font-size: 40px;
        }
    }
}