<ListView [items]="menuItens" backgroundColor="#FFFFFF" class="des-menu-completo">
  <ng-template let-item="item" let-i="index" class="des-menu-completo__linha">
    <ng-container>
      <GridLayout columns="auto, *" (tap)="navegarPara(item.rota)">
        <Label text="{{mostraIconeDinamico(item.iconeCode)}}" col="0" class="des-menu-completo__linha__icone {{item.iconeClass}}"></Label>
        <Label [text]="item.nome" col="1" class="des-menu-completo__linha__texto" ></Label>
      </GridLayout>
    </ng-container>
  </ng-template>
</ListView>