<FlexboxLayout
  flexDirection="column"
  justifyContent="space-between"
  class="des-home"
>
  <FlexboxLayout flexDirection="column">
    <Label (tap)="navegarPara(eRotasNavegacao.CARTA_DIA)" text="Carta do dia" row="0" col="1" class="des-home__opcao"></Label>
    <Label (tap)="navegarPara(eRotasNavegacao.SELECIONAR_CARTA)" text="Selecione uma carta" row="1" col="0" class="des-home__opcao" ></Label>
    <Label (tap)="navegarPara(eRotasNavegacao.PASSADO_PRESENTE_FUTURO)" text="Passado, presente e futuro" row="1" col="0" class="des-home__opcao" ></Label>
  </FlexboxLayout>

  <!-- <StackLayout>
    <ng-container *ngIf="cardSelected">
      <Label class="h1 text-center" color="#FFF" text="Sua carta do dia é"></Label>
      <Label class="h2 text-center" color="#FFF" [text]="cardSelected.arcanoMaior"></Label>
      <Label class="text-center" color="#FFF" marginTop="16" fontWeight="bold" text="Pontos positivos"></Label>
      <Label class="text-center" color="#FFF" [text]="cardSelected.positivo"></Label>
      <Label class="text-center" color="#FFF" marginTop="16" fontWeight="bold" text="Pontos negativos"></Label>
      <Label class="text-center" color="#FFF" [text]="cardSelected.negativo"></Label>
    </ng-container>
  </StackLayout> -->
</FlexboxLayout>